html, body {
  margin: 0;
  padding: 0;

}


#ArticlesHead{
	width: 100%;
	height: 60px;
	/*background-color: grey;*/
}

.SideText1{
	height: 100%;
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 15px;
}
.SideText2{
	height: 100%;
	width: 20%;
	float: right;
	text-align: center;
	padding-top: 15px;
}

.MainText{
	height: 100%;
	width: 300px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    

}
.instruments{
	width: 40px;
	position: sticky;
	top: 30px;
	float: right;
	height: auto;
}
.instruments a{
	color: #fff;
	display: block;
	background: #3d3d3d;
	padding: 10px;
	border-bottom: 1px solid #666;
	transition: 0.5s all;
}
.instruments a:hover{
	background: #666;
	text-decoration: none;
	/*padding: 5px 5px 5px 10px;*/
}
.instrument{

	position: absolute;
	/*width: 100%;*/
	right: 100%;
	border-right: 5px solid transparent; 
	top: -9999em;
	opacity: 0;
	transition: 0.5s opacity;

}
.instruments-drop{
	position: relative;

}

.instruments-drop:hover .instrument{
	opacity: 1;
	top: 0;
}

.AMain{
	font-size: 35px;
	text-decoration:none;
	color: black;
}
.ASide{
	font-size: 30px;
}
.blockNews{
	width: 100%;
	height: 20px;
	background-color: black;
}
#chat{
	width: 300px;
	height: 400px;
	background-color: red;
	overflow:auto;

}
.aa{
	text-align: center;
}
.ArticlesType{
	width: 10%;
	height: 100%;
	background-color: green;	
	display: inline-block;
}
#ArticlesBody{
	

}
.littlePostImg{
	width: 150px;
	height: 150px;
}
.littlePostTextOutside{
	border: 4px double black;
}
.littlePostTextInside{
	display: inline-block;
	color: black;
}
.CreatorBody{
	/*width: 900px;*/
	width: 95%;
	height: 1500px;
	background-color: gray;
	/*margin-left: auto;
    margin-right: auto;*/
    float: left;
}
.CreatorMain{
	background-color: gray;
	width: 80%;
	display: inline-block;
	height: 250px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}
.CreatorTextarea{
	min-height: 200px;
	width: 100%;
	resize: none;
	border: 2px solid #ccc;

	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.dropZone {    
    color: #555;
    font-size: 18px;
    text-align: center;    
   
    padding: 50px 0;
    min-height: 200px;
    
    background: #eee;
    border: 1px solid #ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dropZone-create{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
  	min-height: 0;
  	margin-top: 50px;
}

.dropZoneImgMain{
    width: 300px;
	height: 200px;
	float: left;
	background: black;
	margin: 20px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.dropZoneImgMain2{
    width: 300px;
	height: 200px;
	background: black;
	margin: 20px auto;
}
.dropZoneImg{
	width: 100%;
	height: 100%;
}
.dropZone2{
	width: 300px;
	height: 100px;
	float: left;
	margin: 20px;
}
.dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

.dropZone.error {
    background: #faa;
    border-color: #f00;
}

.dropZone.drop {
    background: #afa;
    border-color: #0f0;
}

textarea {
	display: inline-block;
	resize:none;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 3px;
	line-height: 150%;
	background: #F3F3F3;
}

/*.instrument{
	width: 100%;
	background: grey;
}*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}



.topNews{
	width: 60%;
	height: 300px;
	/*background: green;*/
	float: left;
	margin-right: 1em;
	font-size: 20px;
	

}
.secondNews{
	width:35%;
	height: 300px;
	float: left;
	font-size: 18px;


}
.article{
	padding: 1em 10px 2em;
	margin-bottom: 1em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 0.15em;
	border-top: 2px solid grey;
	border-bottom: 1px solid grey;
}
.cppl{
	float: right;
	/*height: 200px;*/
	width : 30%;
	max-height:100%;
	margin: 0;
}
.cpp2{
	float: right;
	width : 100px;
	max-height:100%;
	margin: 0;
}
.topNewsImg{
	width : 100%
}
.bottomNews{
	width : 700px;
	height: 150px;
	font-size: 14px;
	/*display: block;*/
	border-right: 1px solid grey;
}

.divtextaria{
	display: inline-block;
	resize:none;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 3px;
	line-height: 150%;
}

/*
###################################BOOOTS
*/

.row-style{
	margin-top: 50px;
}
.col-md-12-style{
	padding: 10px 0;
	height: 250px;
}
.col-md-2-img{
	width: 100%;
	height: 100%;
	float:left;
	margin-right:10px;
}
.block-instruments{
	background: black;
	width: 100px;
	height: 100px;
}
.block-main-article{
	width: 400px;
	height: 500px;

}